#wpbody:has(#lytics-settings) {
  background-color: #F7F7F8;
  margin-left: -20px !important;
  height: 100vh;
}

#lytics-settings .admin-header {
  background-color: #FFF;
  background-image: url(../img/header-background.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
  padding: 35px 20px 20px 30px;
  border-bottom: 1px solid #E5E5E5;
}

#lytics-settings .admin-header h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  color: #250456;
}

#lytics-settings h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 2px 0 0 0;
  color: #250456;
}

#lytics-settings .section-head {
  background-color: #EBE9EE;
}

#lytics-settings .admin-header .subhead {
  font-size: 14px;
  color: #A5A5A5;
  max-width: 900px;
}

#lytics-settings .promo-banner {
  background: linear-gradient(88.55deg, #8610D3 39.03%, #D532CA 72.43%, #FF9A01 94.79%);
  padding: 10px 50px;
  text-align: center;
  font-size: 14px;
  color: #FFF;
}

#lytics-settings .promo-banner a {
  color: #FFF;
  font-weight: 600;
}
